#define IDD_DLGMSGBOX 101
#define IDC_STC1 1001
#ifndef IDRETRY
  #define IDRETRY 4
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif

#include "winresrc.h"

IDD_DLGMSGBOX DIALOGEX 10,10,147,63
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "Shit happened when trying to rule the world. Your decision?",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,6,132,21
  CONTROL "Retry",IDRETRY,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,45,42,42,15
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,96,42,42,15
END

